.footer {
  padding: 0.3em;
  background: rgb(42, 42, 50);
  margin: 0.8em 0 0 0;
  flex-shrink: 0;
  color: #e7e8e9;
  border-bottom: 0.8em solid #3f3d4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer h1 {
  font-size: 1.8em;
}

.footer .App-container-header.title:after,
.footer .App-container-header.title:before {
  border-bottom: 0.1em solid #5d5a75;
}

.footer > .title {
  margin-bottom: -2em;
  margin-top: -2em;
}
