.Nav_header {
  width: 100%;
  position: sticky;
  background-color: #e7e8e9;
  height: auto;
  top: 0;
  left: 0;
  padding: 0.1rem 0.1rem;
  vertical-align: middle;
  z-index: 1;
  font-family: 'Bad Script', cursive;
  flex-shrink: 0;
  box-shadow: 2px -5px 9px 0px black;
}

.Nav_navigation {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.Nav-logo {
  margin: 0.5%;
}

.Nav-logo a:hover,
.Nav-logo a:active {
  color: #25285fad;
}

.Nav-logo img {
  margin:  0 1rem 0  1rem ;
  max-height: 50px;
  vertical-align: bottom;
  color: #25285fad;
}

.Nav-logo a {
  color: #4d5463;
  text-decoration: none;
  font-weight: 100;
  height: auto;
  vertical-align: middle;
  font-size: 180%;
}

.Nav-spacer {
  flex: 1;
}

.Nav_items ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.Nav_items li {
  font-weight: 300;
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.2rem;
}

.Nav_items a {
  text-decoration: none;
  color: #4d5463;
  font-weight: 500;
  padding: 0.2rem 0;
}

.Nav_items a:hover,
.Nav_item a:active {
  color: #25285fad;
  border-bottom: 3px solid #25285fad;
  border-top: 3px solid #25285fad;
  padding: 15px 0 15px 0;
}

svg {
  vertical-align: middle;
}

.Icon a:hover,
.Icon a:active {
  color: #25285fad;
  border-bottom: 0 #e7e8e9;
  border-top: 0 #e7e8e9;
}

@media (max-width: 768px) {
  .Nav_items {
    display: none;
  }
}

@media (min-width: 769px) {
  .Nav_ToogleButton {
    display: none;
  }
}
