button {
  color: white;
  border-radius: 5px;
  padding: 12px 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: auto;
  border: 0.04rem white solid;
  background: transparent;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: rgba(33, 33, 58);
  color: white;
  opacity: 1;
}
